pkgbase = rstudio-desktop-bin
	pkgdesc = An integrated development environment (IDE) for R (binary from RStudio official repository)
	pkgver = 2023.12.1.402
	pkgrel = 1
	url = http://www.rstudio.org/
	install = rstudio-desktop-bin.install
	arch = x86_64
	license = GPL
	depends = r>=3.3.0
	depends = clang
	depends = libxkbcommon-x11
	depends = sqlite
	optdepends = clang: C/C++ and Rcpp support
	provides = rstudio-desktop=2023.12.1.402
	conflicts = rstudio-desktop
	conflicts = rstudio-desktop-git
	conflicts = rstudio-desktop-preview-bin
	options = !strip
	source_x86_64 = https://download1.rstudio.org/electron/jammy/amd64/rstudio-2023.12.1-402-amd64.deb
	sha256sums_x86_64 = 75542cc24c59404f8d62815bc0e31b43032b5032e651fa9f618dbcdca8aa7cac

pkgname = rstudio-desktop-bin
